@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;

    /* Black & White Palette */
    --color-primary: #ffffff;
    --color-secondary: #333333;
    --color-accent: #525252;
    --color-background: #000000;
    --color-surface: #121212;

    /* Text Colors */
    --color-text-main: #ffffff;
    --color-text-muted: #a3a3a3;
}

@layer base {
    body {
        @apply bg-background text-text-main font-sans;
    }
}